@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6; 
}
body {
    background-color: var(--backgrond);
    overflow: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: var(--text-color-menu-mobile);
}
header ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
.cta {
    border: 2px solid var(--button);
    border-radius: 4px;

    color: var(--text-color-menu-mobile);
    background-color: transparent;
    padding: 10px 30px;
}
.menu {
    background-color: transparent;
    border: none;
    display: none;
}
.logoMobile {
    display: none;
}
/* HERO SECTION */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
}
.heroTitle {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    flex: 1;
    margin-top: 3rem;
}
.heroTitle h1:nth-child(2) {
    color: var(--backgrond);
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}
main img:first-child {
    flex: 0;
    width: 100%;
}
#blur1 {
    position: absolute;
    bottom: 0%;
    left: -25%;
}
#blur2 {
    position: absolute;
    top: -25%;
    right: 0%;
}
.active {
    display: none;
}

/* DROP DOWN MENU*/
.dropbar {
    color: var(--text-color-menu-mobile);
    display: none;
    height: 100vh;
}
.dropbar ul {
    display: flex;
    flex-direction: column;
    
    list-style: none;
}
.dropbar ul li {
    width: 100vw;
    padding: 20px;
    border-bottom: 1px solid var(--border-menu-mobile);
}
.dropbar ul li:hover {
    background-color: var(--text-color-menu-mobile);
    color: #000;
    transition: .5s;
}

@media (max-width: 800px) {
    header nav {
        display: none;
    }
    header {
        border-bottom: 1px solid var(--border-menu-mobile)
    }
    .cta {
        display: none;
    }
    .logoDesktop {
        display: none;
    }
    .logoMobile {
        display: block;
    }
    .menu {
        display: block;
    }
    main {
        justify-content: space-between;
    }
    .heroTitle {
        font-size: 30px;
        flex: auto;
    }
    #imagemCopo {
        width: 100%;
        position: absolute;
        bottom: 0%;
    }
}