@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--footer);
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: var(--background);
}

@keyframes entering1 {
    from {
        opacity: 0;
        transform: translateX(600px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes entering2 {
    from {
        opacity: 0;
        transform: translateX(-600px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
header ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
header ul li {
    font-weight: bold;
    font-size: 24px;
}

header div#searchbar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--background);
    border-radius: 5px;
    padding: 5px;
}
header div#searchbar input {
    height: 100%;
    border: none;
    background-color: transparent;
}
header img:nth-child(2) {
    height: 34px;
    width: 34px;
}

/* MAIN SECTION */
main {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 40% 60%;
    height: 100vh;
}

main aside {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0px 100px;
    border-right: 1px solid var(--text-description);
}
main aside * {
    animation: entering2 4s ease-in-out;
}
main aside h1 {
    text-transform: uppercase;
    font-size: 60px;
}
main aside p {
    color: var(--text-description);
}
main aside h2 {
    font-size: 40px;
}
main aside button#cta {
    height: 90px;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    background-color: var(--button);
    font-weight: bold;
    border: none;
    transition: transform .5s ease-in-out;
}
main aside button#cta:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 3px;
}

main section {
    background-color: var(--main-background);
    display: grid;
    grid-template-areas: 
    "Linha1"
    "Linha2";
    place-items: center;

}
main section * {
    animation: entering1 2s ease-in-out;
}
main section div#linha2 {
    padding: 10px;
    grid-area: Linha2;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}
main section div#linha2 img {
    width: 100%;
    object-fit: cover;
}

footer {
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: 20% 55% 25%;
    background: var(--background);
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
footer ul li {
    text-transform: uppercase;
    font-weight: bold;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

@media (max-width: 1125px) {
    main aside {
        padding: 25px;
    }
}
@media (max-width: 1026px) {
    main {
        display: flex;
        flex-direction: column;
    }
    main section {
        display: flex;
        flex-direction: column;
    }
    div#linha2 {
        overflow-x: hidden;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
}
